{% extends "base.html" %}

{% block content %}
<br><br>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.uid.label }}<br/>
    {{ form.uid(size=32) }}<br/>
    {% for error in form.uid.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

<h2>Chart List by user:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User_id</th> 
      <th scope="col">Product_id</th>
      <th scope="col">Product_name</th>
      <th scope="col">Time add to Cart</th>
    </tr>
  </thead>  
  <tbody>
    {% for item in cart %}
    <tr>
      <th scope="row">{{item.uid}}</td>
      <td>{{item.pid}}</td>
      <td>{{item.name}}</td>
      <td>{{item.time_added_to_cart}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<br><br>
{% endblock %}

