{% extends "base.html" %}

{% block content %}
<br><br>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.uid.label }}<br/>
    {{ form.uid(size=32) }}<br/>
    {% for error in form.uid.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

<h2>User Purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User_id</th>
      <th scope="col">Purchase_id</th>
      <th scope="col">Product_id</th>
      <th scope="col">Purchase_timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchases%}
      <tr>
        <th scope="row">{{purchase.uid}}</th>
        <th>{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}

